.icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    fill: currentColor;

    $sizes: (
        xs: .5rem,
        s: .725rem,
        m: 1.5rem,
        l: 2rem,
        xl: 3rem,
        xxl: 4rem,
        3xl: 5rem,
        4xl: 6rem,
    );

    @each $variant, $size in $sizes {
        &-#{$variant} {
            height: $size;
            width: $size;
        }
    }
}