.card-variant-1 {
	border-radius: 15px;

	.card-body {
		.card-title {
			&::after {
				content: "";
				border: 2px solid $red;
				width: 50px;
				position: relative;
				display: block;
				margin: auto;
				margin-top: 20px;
			}
		}
	}
}

.card-variant-2 {
	.img-wrapper {
		width: auto;
		height: 185px;

		img {
			width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
	.card-body {
		border: none;
		border-top: 5px solid #c1c1c1;
		transition: all 0.3s ease;

		// sup {
		// 	font-size: .15em;
		// }

		@media (max-width: 376px) {
			.card-text {
				font-size: 17px;
			}
		}

		.icon-wrapper {
			position: relative;
			transition: all 0.5s ease;
			left: 0;

			svg {
				width: 20px;
				height: 18px;

				@include media-breakpoint-up(lg) {
					width: 20px;
					height: 20px;
				}
			}
		}

		&:hover {
			border-top: 5px solid $red;

			.icon-wrapper {
				color: $red;
				left: 20px;
			}
		}
	}

	.card-cta {
		font-size: 14px;

		@include media-breakpoint-up(lg) {
			font-size: 18px;
		}
	}
}

.card-variant-3 {
	padding-top: 60px;
	position: relative;

	.img-wrapper {
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 125px;
		height: 125px;
		background-color: #fff;
		border-radius: 100%;
		border: 1px solid $gray-200;
		padding: 4px;
		display: flex;
		justify-content: center;
		box-shadow: 0px 1px 1px 0px #777;

		img {
			width: 85px;
			height: 90px;
			margin-top: 10px;
		}

		&.custom-img {
			img {
				width: 80px;
				height: 100px;
				margin-top: 7px;
			}
		}
	}

	.card-body {
		background-color: $gray-200;
		padding: 2rem;
		padding-top: 5.5rem;
		border-radius: 1rem;
	}
}
