.carousel {
	&.variant-products {
		.swiper-pagination {
			&.swiper-pagination-bullets {
				bottom: 5px;
			}
		}
	}
	&.variant-testimonials {
		.swiper-slide {
			.testimonials-details {
				img {
					width: 105px;
					height: 108px;
					border-radius: 100%;

					@include media-breakpoint-up(md) {
						width: 105px;
						height: 108px;
					}
				}
			}
		}
		.swiper-pagination {
			&.swiper-pagination-bullets {
				left: -100px;
				@include media-breakpoint-up(md) {
					left: -40%;
				}
			}
		}
	}
	.swiper-pagination {
		&.swiper-pagination-bullets {
			bottom: 0;
			.swiper-pagination-bullet {
				width: 15px;
				height: 15px;
			}
			.swiper-pagination-bullet-active {
				background-color: $red;
			}
		}
	}
	.swiper-navigation {
		.swiper-button-prev, .swiper-button-next {
			color: $dark;
		}
	}
}
