form {
	&.contact-form {
		.form-label {
			margin-bottom: 0;
		}
		.form-control {
			border-bottom: 2px solid #d8d8d8;

			&:focus {
				color: #231f20;
				background-color: #fff;
				border-color: #fff;
				outline: 0;
				box-shadow: none;
				border-bottom: 2px solid #d8d8d8;
			}

			&.is-invalid {
				border: 0;
				border-bottom: 2px solid $red;
			}
		}
	}
	&.career-form {
		.form-control {
			&:focus {
				box-shadow: none;
			}
		}
	}
}

.form-container {
	position: relative;

	.thank-you-container {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(255, 255, 255, .8);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		opacity: 0;
		transition: .3s ease;

		&.gray-200 {
			background-color: $gray-200;
			opacity: .7;
			margin: 0 -1rem;
			width: 114%;

			@include media-breakpoint-up (md) {
				width: 104%;
			}
		}
	}

	&.submit-success {
		
		.thank-you-container {
			opacity: 1;
			visibility: visible;
		}
	}

	&.career-form {
		.thank-you-container {
			background-color: $gray-200;
			margin-left: -12px;
			margin-right: -12px;
		}
	}
}
