header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;

	.brand-logo {
		width: 124px;

		@include media-breakpoint-up(md) {
			width: 250px;
		}
	}
	.navbar-light {
		.navbar-toggler {
			border: none;
			.icon {
				width: 28px;
				height: 24px;
			}

			&.close-icon {
				position: absolute;
				right: 30px;
				top: 16px;
			}

			&:focus {
				text-decoration: none;
				outline: 0;
				box-shadow: none;
			}
		}
	}

	.navbar {
		height: 60px;
		background-color: #fff;
		width: 100%;
		border-bottom: 1px solid $gray-300;

		@include media-breakpoint-up(md) {
			height: 95px;
		}
		.nav-item {
			margin-left: 32px;
			width: fit-content;

			&:first-child {
				@include media-breakpoint-up(lg) {
					margin-left: 0;
				}
			}
			.nav-link {
				margin-bottom: 10px;
				// padding: 10px 0 0;
				font-weight: 700;
				color: #1a1a1a;
				font-size: 18px;

				&.active {
					border-bottom: 2px solid $red;
				}
			}
			&.red-nav-item {
				border-radius: 0.3rem;
				text-align: center;
				width: 180px;
				height: 48px;
				margin-top: 10px;

				@include media-breakpoint-up(lg) {
					width: 145px;
					height: 48px;
					margin-top: 0;
				}

				.nav-link {
					color: #fff;
					font-size: 14px;
					padding: 13px 0;

					@include media-breakpoint-up(lg) {
						font-size: 18px;
						padding: 10px 0;
					}

					&:hover {
						background-color: #bc0000;
						border-radius: 0.3rem;
					}
				}
			}
		}
	}
	.right-nav {
		margin-top: 1rem;
		@include media-breakpoint-up(lg) {
			margin-top: -7px;
		}
		

		.language-link {
			&:hover {
				color: #1a1a1a;
			}
		}

		.contact-btn {
			margin-top: -5px;
		}
	}

	.navbar-collapse {
		@include media-breakpoint-down(lg) {
			position: fixed;
			top: 0;
			z-index: 999;
			background: #fff;
			height: 100%;
			right: 100%;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 15px;
			width: 100%;
			transition: all 0.3s ease;
			display: block;

			&.show {
				right: 0;
			}
		}
	}
}
