
.banner.type-video {
	position: relative;
	background-color: $dark;

	.video-container {
		--aspect-ratio: calc(16 / 9 * 100%);
		
		video {
			object-fit: cover;
		}

		@include media-breakpoint-up(lg) {
			--aspect-ratio: calc(3 / 6 * 100%);
		}
	}
}

.video-content {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 30%;
	width: 100%;
	color: #fff;

	@include media-breakpoint-up(lg) {
		left: 10%;
		top: 35%;
	}

	p {
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	}

	@include media-breakpoint-up(lg) {
		width: 70%;
	}

	@include media-breakpoint-up(xl) {
		width: 80%;
	}

	.sub-text {
		max-width: 530px;
		margin: auto;
	}
}
