.video-container {
	video {
		@include media-breakpoint-down(lg) {
			object-fit: cover;
			width: 100vw;
			height: 100vh;
			position: relative;
			top: 0;
			left: 0;
		}
	}
}
.video-content {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	color: #fff;

	@include media-breakpoint-up(lg) {
		left: 10%;
		top: 35%;
	}

	p {
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	}

	@include media-breakpoint-up(md) {
		width: 80%;
	}

	@include media-breakpoint-up(lg) {
		width: 70%;
	}

	@include media-breakpoint-up(xl) {
		width: 80%;
	}

	.sub-text {
		max-width: 530px;
		margin: auto;
	}
}
