<!DOCTYPE  html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Maxxima Landing Page</title>

		{# Generate this at https://realfavicongenerator.net/ #}
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicon/site.webmanifest">
		<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#0057c1">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		{# See externals in webpack.common.js #}
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	</head>
	<body class="position-relative">
		<header>
			{# Render navigation here #}
			{% block navigation %}{% endblock %}			

		</header>
		<main>
			{% block main %}{% endblock %}
		</main>
		<footer>
			{# Render footer here #}
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>