<div class="cta-banner bg-p1 py-5 px-3 p-md-5">
	<div class="d-block d-md-flex justify-content-center text-white">
		<div class="banner-text me-md-5">
			<h4 class="mb-md-0">Want to become a MAXXIMA Business Associate?</h4>
			<h2>EXPLORE LIMITLESS BUSINESS WITH US</h2>
		</div>
		<div class="banner-cta mt-3">
			<a href="#" class="btn btn-secondary">Tell Me More</a>
		</div>
	</div>
</div>