<div class="cta-banner bg-p1 py-5 px-3 p-md-5">
	<div class="d-block d-md-flex justify-content-center text-white">
		<div class="banner-text me-md-5">
			<h4 class="mb-md-0">Want to become a MAXXIMA Business Associate?</h4>
			<h2>EXPLORE LIMITLESS BUSINESS WITH US</h2>
		</div>
		<div class="banner-cta mt-3">
			<a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tell Me More</a>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content bg-gray-200 py-4 px-3">
					<div class="modal-header d-block">
						<h2 class="modal-title text-dark mb-2">INTERESTED TO BE
							<br/>OUR ASSOCIATE</h2>
						<p class="text-dark lead mb-0">Fill up this form & we will get back to you.</p>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body pt-0 px-4">
						<form id="careerForm" action="" method="POST" novalidate class="career-form">
							<div class="row">
								<div class="col-md-6 mb-4 g-2">
									<div class="field variant-text">
										<label for="name" class="form-label lead">Name</label>
										<input id="name"
											name="name"
											type="text"
											class="form-control"
											placeholder=""
											autocomplete="">
									</div>
								</div>
								<div class="col-md-3 mb-4 g-2">
									<div class="field variant-text">
										<label for="mobileNumber" class="form-label lead">Mobile No.</label>
										<input id="mobileNumber"
											name="mobileNumber"
											type="text"
											class="form-control"
											placeholder=""
											autocomplete="">
									</div>
								</div>
								<div class="col-md-3 mb-4 g-2">
									<div class="field variant-text">
										<label for="email" class="form-label lead">Email</label>
										<input id="email"
											name="email"
											type="text"
											class="form-control"
											placeholder=""
											autocomplete="">
									</div>
								</div>
								<div class="d-flex justify-content-end">
									<button class="btn btn-outline-primary px-5" type="submit">Send</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>