<nav class="nav navbar navbar-expand-lg navbar-light py-3" id="mainNavigation">
	<div class="container-fluid mx-2">
		<a href="/" class="brand-logo">
			<img class="w-100" src="assets/img/logo.png" alt="Main logo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			{# <span class="navbar-toggler-icon"></span> #}
			{% include "@::templates/components/icon.twig" with { iconName: 'hamburger', iconSize: '' } %}
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<button class="navbar-toggler close-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				{# <span class="navbar-toggler-icon"></span> #}
				{% include "@::templates/components/icon.twig" with { iconName: 'close', iconSize: '' } %}
			</button>

			<ul class="navbar-nav mx-auto d-flex justify-content-center mt-lg-0 mt-5">
				<li class="nav-item d-md-none d-block my-3">
					<a href="/en" class="language-link">EN</a>
					<span class="lead">|</span>
					<a href="/ms" class="language-link">BM</a>
				</li>
				{% for item in model.links %}
					<li class="nav-item">
						<a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>

			<div class="right-nav d-md-flex ms-4 ms-md-0">
				<div class="me-4 d-md-block d-none">
					<a href="/en" class="language-link" href="">EN</a>
					<span class="lead">|</span>
					<a href="/ms" class="language-link" href="">BM</a>
				</div>

				<a href="{{ model.contactUs.link }}" class="btn btn-default btn-outline-primary contact-btn">{{ model.contactUs.title }}</a>
			</div>
		</div>
	</div>
</nav>