<nav class="navbar navbar-expand-lg navbar-light py-3">
	<div class="container">
		<a href="/" class="brand-logo">
			<img class="w-100" src="assets/img/logo.png" alt="Main logo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			{# <span class="navbar-toggler-icon"></span> #}
			{% include "@::templates/components/icon.twig" with { iconName: 'hamburger', iconSize: '' } %}
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<button class="navbar-toggler close-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				{# <span class="navbar-toggler-icon"></span> #}
				{% include "@::templates/components/icon.twig" with { iconName: 'close', iconSize: '' } %}
			</button>

			<ul class="navbar-nav mx-auto d-flex justify-content-center mt-lg-0 mt-5">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#aboutUs">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ourProduct">Our Product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#ourTeam">Our Team</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#career">Career</a>
				</li>
			</ul>
			{# <li class="nav-item red-nav-item bg-p1">
							<a class="nav-link" href="#">Contact Us</a>
						</li> #}
			<div class="nav-item mt-2 mt-lg-0">
				<button class="btn btn-default btn-outline-primary">Contact Us</button>
			</div>
		</div>
	</div>
</nav>