<div class="banner type-video">
	<div class="video-container ratio">
		<video autoplay muted loop playsinline poster="assets/img/sky.png">
			<source src="assets/videos/hero-banner.mp4" type="video/mp4">
		</video>
	</div>
	<div class="video-content px-3 px-md-5">
		<p class="display-2 animated text-slide-in text-center">THE SKY'S NOT THE LIMIT</p>
		<p class="display-1 animated text-slide-in text-center">THE MIND IS</p>
		<p class="sub-text mb-5 text-center lead">{{ description }}</p>
	</div>
</div>