<div class="banner type-video">
	<div class="video-container ratio">
		<video autoplay muted loop>
			<source src="assets/videos/hero-banner.mp4">
		</video>
	</div>
	<div class="video-content px-3 px-md-5">
		<p class="display-2 animated text-slide-in text-center">THE SKY'S NOT THE LIMIT</p>
		<p class="display-1 animated text-slide-in text-center">THE MIND IS</p>
		<p class="sub-text mb-5 text-center lead">MAXXIMA is an award-winning beauty and wellness company that is driven by the desire to transform lives and ensure that our business has a purpose beyond profit.</p>
	</div>
</div>