{% extends "@::templates/_layout.twig" %}

{% block main %}

	<div class="container-fluid p-5">
		<div class="my-3">
			<p class="badge badge-primary">Headline styles</p>
			<div class="row">
				<div class="col-12 mb-4">
					<h1 class="display-1">Hello world!</h1>
					<h1 class="display-2">Hello world!</h1>
					<h1 class="display-3">Hello world!</h1>
					<h1 class="display-4">Hello world!</h1>
				</div>
				<div class="col-12">
					<h1>Heading</h1>
					<h2>Heading</h2>
					<h3>Heading</h3>
					<h4>Heading</h3>
					<h5>Heading</h3>
					<h6>Heading</h3>
				</div>
				<div class="my-5">
					<p class="lead">Text styles</p>
					<p>This is a starter template that uses twig, see
						<a href="https://twig.symfony.com/doc/3.x/">https://twig.symfony.com/doc/3.x/</a>
					</p>
					<p class="lead">Trust, as strong as steel</p>
					<p>Precisely the way you want it.</p>
					<p class="small">Materials for a better world.</p>
				</div>
			</div>
		</div>

		<div class="my-5">
			<p class="h3 pb-3">Colour System</p>
			<div class="row">
				<div class="col-6">
					<div class="bg-p1 px-3 pt-5 py-3">
						<p class="lead w mb-0">Strong Red</p>
						<p class="light w mb-0">#dd0000</p>
					</div>
				</div>
				<div class="col-6">
					<div class="bg-p2 px-3 pt-5 py-3">
						<p class="lead w mb-0">Light Gray</p>
						<p class="light w mb-0">#6e6f71</p>
					</div>
				</div>
			</div>
		</div>

		<div class="my-5">
			<p class="h3 pb-3">Components</p>
			<div class="row">
				<div class="col-4">
					<p>Buttons</p>
					<button class="btn btn-default btn-primary">View Products</button>
					<button class="btn btn-default btn-secondary">View Products</button>
					<button class="btn btn-default btn-outline-primary">View Products</button>
				</div>
				<div class="col-4">
					<p>Links</p>
					<a href="#">+65 8123 4567</a>
				</div>
				<div class="col-4"></div>
			</div>
		</div>

		{# To refer to an alias (see webpack.common.js), use ~ #}
		<img class="mb-5" src="~@/assets/img/test.jpg" alt="">

		<div class="mb-5 d-flex">
			<p class="me-5">An Icon</p>
			{% include "@::templates/components/icon.twig" with { iconName: 'check', iconSize: 'xxl' } %}
		</div>

		{% include "@::templates/components/sample.twig" %}

	</div>


{% endblock %}