{% extends "@::templates/_layout.twig" %}

{% block main %}
	<section id="home">
		{% include "@::templates/components/video-banner.twig" %}
	</section>

	<section class="bg-gray-200 py-5" id="aboutUs">
		<div class="px-4">
			<h3 class="display-3 text-center">WHY CHOOSE
				<span class="text-red">MAXXIMA</span>
			</h3>
			<p class="text-center lead">We are committed to paving new opportunities for people to live healthier and wealthier every day.</p>
		</div>
		<div class="container-fluid px-3 px-md-5 pt-4">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
					{% include "@::templates/components/card-v1.twig" with {
                    icon: 'quality',
                    cardTitle: 'High Quality Products',
                    cardText: 'All products under MAXXIMA are developed together with numerous R&D teams around the globe and backed by clinically studies to ensure maximum levels of safety and effectiveness.'
                } %}
				</div>
				<div class="col">
					{% include "@::templates/components/card-v1.twig" with {
                    icon: 'compensation',
                    cardTitle: 'Consistent Compensation',
                    cardText: 'Since MAXXIMA’s establishment in 2013, we have paid our business associates on a weekly basis, with the commissions totalling up to over RM100,000 million, to date. Our sound business model and compensation plan has positively transformed the lives of many financially.'
                } %}
				</div>
				<div class="col">
					{% include "@::templates/components/card-v1.twig" with {
                    icon: 'support',
                    cardTitle: 'Strong Support System',
                    cardText: 'MAXXIMA is known for pushing the benchmarks of beauty and wellness, making us the talk of the town in the industry. Our efficient training and support system have helped our business associates build sustainable businesses.'
                } %}
				</div>
			</div>
		</div>
	</section>

	<section class="py-5" id="ourProduct">
		<div class="container-fluid px-3 px-md-5 pt-4 pb-5 position-relative">
			<div class="two-tiles-container row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
					<div>
						<h3 class="display-3 mb-4">YEARS OF ECOMMERCE EXPERIENCE IN</h3>
						<h4 class="display-4 mb-5">Malaysia, Indonesia,
							<br/>Singapore, & Brunei</h4>
						<div class="row d-none d-md-flex">
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '200k+',
								text: 'Successful Business Associates',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '100,000m+',
								text: 'Total Weekly Commissions Paid',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '4+	',
								text: 'Strong SEA Presence',
							} %}
							</div>
							<div class="col-md-6">
								{% include "@::templates/components/tiles-v1.twig" with {
								title: '10+',
								text: 'Quality Products',
							} %}
							</div>
						</div>
					</div>
				</div>
				<div class="col d-md-block d-none">
					{% include "@::templates/components/line-separator.twig" %}
					<p class="lead">Founded by experienced and accomplished entrepreneurs, MAXXIMA has won numerous awards internationally in the beauty and wellness industry, setting a proven track record of achievements.</p>
					<p class="lead">At the core of our business mission is to transform lives. We aim to improve the financial as well as personal wellbeing of our business associates as well as consumers. That’s why we are constantly developing and enhancing our business with people’s ever-evolving needs in mind.</p>
					<p class="lead">Drawing more experiences, charting excellent scientific innovation, offering up-to date lifestyle products, streamlining solid values and standardising high quality control, MAXXIMA continues to pave new pathways for people to lead healthier and wealthier lives - and the numbers are increasing every day.</p>
				</div>
			</div>

			<div class="row d-md-none d-flex">
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '200k+',
						text: 'Successful Business Associates',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '100,000m+',
						text: 'Total Weekly Commissions Paid',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '4+	',
						text: 'Strong SEA Presence',
					} %}
				</div>
				<div class="col-12">
					{% include "@::templates/components/tiles-v1.twig" with {
						title: '10+',
						text: 'Quality Products',
					} %}
				</div>

				<div class="col">
					{% include "@::templates/components/line-separator.twig" %}

					<p class="lead">Founded by experienced and accomplished entrepreneurs, MAXXIMA has won numerous awards internationally in the beauty and wellness industry, setting a proven track record of achievements.</p>
					<p class="lead">At the core of our business mission is to transform lives. We aim to improve the financial as well as personal wellbeing of our business associates as well as consumers. That’s why we are constantly developing and enhancing our business with people’s ever-evolving needs in mind.</p>
					<p class="lead">Drawing more experiences, charting excellent scientific innovation, offering up-to date lifestyle products, streamlining solid values and standardising high quality control, MAXXIMA continues to pave new pathways for people to lead healthier and wealthier lives - and the numbers are increasing every day.</p>
				</div>
			</div>

			{% include "@::templates/components/font-thumbnail.twig" with {
				text: '9',
			} %}
		</div>
		<div class="px-4">
			<h3 class="display-3 text-center">Beauty & Wellness Products</h3>
			<p class="text-center lead">Elixxi® Beauty + Maxxima Nutrition - XSERIES</p>
		</div>
		{% set products = [
				{
			 		name: 'Elixxi® Beauty Drink',
					description: 'All products under MAXXIMA are developed together with numerous R&D teams around the globe and backed by clinically studies to ensure maximum levels of safety and effectiveness.',
					image: 'assets/img/products/Product-Elixxi-Beauty.png',
					link: 'https://www.google.com/',
		 		},
				{
			 		name: 'Elixxi® Lipo Facial Masks',
					description: 'Infused with precious pure flower extracts and enhanced with LipoButy™ Nanotechnology, Elixxi® Lipo Facial Masks is able to nourish the skin with a deeper and more instant penetration.',
					image: 'assets/img/products/Product-Elixxi-Lipo-Mask.png',
					link: 'https://www.google.com/',
		 		},
				{
			 		name: 'XSERIES - CMX',
					description: 'Formulated with a patent-pending blend of active ingredients known as ImmuMaxx™, CMX is a liquid form daily supplement that boosts your energy level and gives your body and a large amount of nutrition to stay active and healthy.',
					image: 'assets/img/products/CMX.png',
					link: 'https://www.google.com/',
		 		},
			]
		%}

		<div class="container-fluid px-3 px-md-5 pt-4">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for product in products %}
					<div class="col">
						{% include "@::templates/components/card-v2.twig" with {
						image: product.image,
						cardTitle: product.name,
						cardText: product.description,
						cardUrl: product.link,
                	} %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container">
			<div class="col-12">
				<h3 class="display-3 text-center">AWARDS</h3>
				<p class="text-center lead sub-title mx-auto">Our efforts and hard work in building the business has brought about significant successes, including recognitions and numerous accolades. Like an upward spiral, the journey in pursuit of greatness has no end. Since 2013, our achievements have been shaped by the strength of the foundations we have set. This is what Maxxima is all about - always raising the bars of excellence.</p>
			</div>
			<div class="row row-cols-1 row-cols-md-4 g-0">
				{% set awards = [
					{
						logo: 'assets/img/awards_logo-01.png',
						altText: 'awards-1'
					},
					{
						logo: 'assets/img/awards_logo-02.png',
						altText: 'awards-2'
					},
					{
						logo: 'assets/img/awards_logo-03.png',
						altText: 'awards-3'
					},
					{
						logo: 'assets/img/awards_logo-04.png',
						altText: 'awards-4'
					},
					{
						logo: 'assets/img/awards_logo-05.png',
						altText: 'awards-5'
					},
					{
						logo: 'assets/img/awards_logo-06.png',
						altText: 'awards-6'
					},
					{
						logo: 'assets/img/awards_logo-07.png',
						altText: 'awards-7'
					},
					{
						logo: 'assets/img/awards_logo-08.png',
						altText: 'awards-8'
					}
				] 
				%}
				{% for award in awards %}
					<div class="col">
						{% include "@::templates/components/logo-thumbnail.twig" with {
							logo: award.logo,
							altText: award.altText
						}%}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="bg-gray-200 py-5">
		<div class="container">
			<div class="col-12">
				<h3 class="display-3 text-center">STRATEGIC PARTNERS</h3>
				<p class="text-center lead sub-title mx-auto">Our brilliant performance in managing the business has attracted many international collaborations in order to make our products and services reach an optimal level. In MAXXIMA, we are driven to build a strong foundation that can achieve higher success.</p>
			</div>

			<div class="row row-cols-3 row-cols-md-6 g-0 px-md-4">
				{% set partners = [
					{
						logo: 'assets/img/strategic-partners_logo-01.png',
						altText: 'partners-1'
					},
					{
						logo: 'assets/img/strategic-partners_logo-02.png',
						altText: 'partners-2'
					},
					{
						logo: 'assets/img/strategic-partners_logo-03.png',
						altText: 'partners-3'
					},
					{
						logo: 'assets/img/strategic-partners_logo-04.png',
						altText: 'partners-4'
					},
					{
						logo: 'assets/img/strategic-partners_logo-05.png',
						altText: 'partners-5'
					},
					{
						logo: 'assets/img/strategic-partners_logo-06.png',
						altText: 'partners-6'
					},
				] 
				%}
				{% for partner in partners %}
					<div class="col">
						{% include "@::templates/components/logo-thumbnail.twig" with {
							logo: partner.logo,
							altText: partner.altText,
							variant: 'partners-thumbnail'
						}%}
					</div>
				{% endfor %}
			</div>
		</div>

	</section>

{% endblock %}