.bg-p1 {
    background-color: $primary;
}

.bg-p2 {
    background-color: $secondary;
}

.bg-gray-100 {
    background-color: $gray-100 !important;
}

.bg-gray-200 {
    background-color: $gray-200 !important;
}

.bg-gray-300 {
    background-color: $gray-300 !important;
}

.bg-gray-700 {
    background-color: $gray-700 !important;
}

.bg-blue-50 {
    background-color: tint-color($blue, 95%) !important;
}

.bg-blue-100 {
    background-color: $blue-100 !important;
}

.text-red {
    color: $red;
}