// main {
// 	// min-height: calc(100vh - 87px - 52px);

// 	// @include media-breakpoint-up(lg) {
// 	// 	min-height: calc(100vh - 97px - 56px);
// 	// }
// }

:target::before {
	content: "";
	display: block;
	height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
    
	@include media-breakpoint-up(md) {
        height: 95px; /* fixed header height*/
        margin: -95px 0 0; /* negative fixed header height */
    }
}
