// main {
// 	// min-height: calc(100vh - 87px - 52px);

// 	// @include media-breakpoint-up(lg) {
// 	// 	min-height: calc(100vh - 97px - 56px);
// 	// }
// }

:target::before {
	content: "";
	display: block;
	height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
    
	@include media-breakpoint-up(md) {
        height: 95px; /* fixed header height*/
        margin: -95px 0 0; /* negative fixed header height */
    }
}

.animated {
    &.text-slide-in {
        overflow: hidden;  

        [data-scroll] {
            display: inline-block;
            transition: 0.4s ease;
            line-height: 100%;
            transform: translateY(50%);
            opacity: 0;
        }

        [data-scroll="in"] {
            transform: translateY(0);
            opacity: 1;
        }

        [data-scroll="out"] {
            opacity: 0;
            transform: translateY(50%);
        }

        @for $i from 1 to 20 {
            [data-scroll="in"]:nth-child(#{$i + 1}) {
                transition-delay: #{0.05 * $i}s;
            }
        }
    }

    &.fade-in {
        &[data-scroll] {
            transition: 0.4s ease;
            opacity: 0;
        }

        &[data-scroll="in"] {
            opacity: 1;
        }

        &[data-scroll="out"] {
            opacity: 0;
        }
    }

    &.list-item-slide-in {
        overflow: hidden;

        [data-scroll] {
            transition: transform 0.8s ease;
            transform: translateY(100%);
            opacity: 0;
        }

        [data-scroll="in"] {
            transform: translateY(0);
            opacity: 1;
        }

        [data-scroll="out"] {
            transform: translateY(100%);
            opacity: 0;
        }

        @for $i from 1 to 20 {
            [data-scroll="in"]:nth-child(#{$i + 1}) {
                transition-delay: #{0.05 * $i}s;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &.list-item-slide-in-top {
            overflow: hidden;
    
            [data-scroll] {
                transition: 0.8s ease;
                transform: translateY(-100%);
                opacity: 0;
            }
    
            [data-scroll="in"] {
                transform: translateY(0);
                opacity: 1;
            }
    
            [data-scroll="out"] {
                transform: translateY(-100%);
                opacity: 0;
            }
    
            @for $i from 1 to 20 {
                [data-scroll="in"]:nth-child(#{$i + 1}) {
                    transition-delay: #{0.1 * $i}s;
                }
            }
        }
    }
}