.display-1 {
	font-size: 48px;
    font-weight: 800;
    
    @include media-breakpoint-up(lg) {
		font-size: 120px;
	}
}

.display-2 {
	font-size: 30px;

	@include media-breakpoint-up(lg) {
		font-size: 70px;
	}
}

.display-4 {
	font-size: 28px;
	font-weight: 700;

	@include media-breakpoint-up(lg) {
		font-size: 48px;
	}
}

.lead {
	font-size: 18px;
}



